# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml

# Python
.venv/
__pycache__/
*.pyc

# Build outputs
dist/
build/
.out/

# Env / secrets
.env
.env.*